<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'books_author.css' %}">
    </head>
    <body>
        <!-- 
            example of django syntax when getting key and values
            Start -> {% for value in key %}
            This allows us to use {{ key }} within to get the right values to appear on browser
            Finish - > {% endfor %}
         -->
        <div id=container>
            <p>Authors: {{ authors }}</p>
            <p>Books: {{ books }}</p>
        </div>
    </body>
</html>