<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Users with templates</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'dojo_ninja.css' %}">
        <script src="{% static 'dojo_ninja.js' %}"></script>
    </head>

<!-- objectives:
    #1 convert info into table
    #3 create path to process new dojo & ninja 
-->

    <body>
        <!-- index container -->
        <div id = 'container'>

            <!-- top container -->
            <div id = 'add_dojo_ninja'>
                <!-- dojo container -->
                <section id = 'dojo'>
                    <!-- dojo header -->
                    <h1>Dojo</h1>

                    <!-- input for info -->
                        <form action="/new/dojo" method="post">
                        {% csrf_token %}
                            <div class = 'info'>
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" class="input_block">
                            </div>

                            <!-- input for City -->
                            <div class = 'info'>
                                <label for="city">City</label>
                                <input type="text" name="city" id="city" class="input_block">
                            </div>

                            <!-- input for state -->
                            <div class = 'info'>
                                <label for="name">State</label>
                                <input type="text" name="state" id="state" class="input_block">
                            </div>

                            <!-- button to add Dojo -->
                            <button class ='add_btn'>add</button>
                </section>
                <!-- ninja container -->
                <section id = 'ninja'>

                    <!-- ninja header -->
                    <h1>Ninja</h1>
                        <form action="/new/ninja" method="post">
                            {% csrf_token %}
                            <!-- input for first name -->
                            <div class = 'info'>
                                <label for="first_name">First Name</label>
                                <input type="text" name="first_name" id="first_name" class="input_block">
                            </div>

                            <!-- input for last name -->
                            <div class = 'info'>
                                <label for="last_name">Last Name</label>
                                <input type="text" name="last_name" id="last_name" class="input_block">
                            </div>

                            <!-- input for dojo -->
                            <div class = 'info'>
                                <label for="dojo">Dojo</label>
                                <select name="dojo" id="dojo" class="input_block">
                                {% for dojo in dojos %}
                                    <option value="{{ dojo.id }}">{{ dojo.name }}</option>
                                {% endfor %}
                                </select>
                            </div>

                            <!-- button to add ninja -->
                            <button class ='add_btn'>add</button>
                        </form>
                </section>
            </div>
            <!-- line break -->
            <br>
                <!-- all new added dojo + ninja container -->
            <div id='all'>
                <h1>All the Dojos</h1>
                {% for dojo in dojos %}
                    <h2>Ninjas at the {{ dojo.name }}</h2>
                    <ul>
                    {% for ninja in dojo.ninjas.all %}
                        <li>{{ ninja.first_name }} {{ ninja.last_name }}</li>
                    {% endfor %}
                    </ul>
                {% endfor %}
            </div>

        </div>
    </body>
</html>