<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>index</title>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'course.css' %}">
    </head>
    <body>
        <div class="container">
            <form action="/course/post" method="POST">
                {% csrf_token %}
                <legend>Add a new course</legend>
                <div class='row'>
                    <label class='col-1' for="name">Course Name:</label>
                    <input class='col-3' type="text" name="name">
                </div>
                <div class='row'>
                    <label class='col-1' for="description">Description:</label>
                    <textarea class='col-3' type="text" name="description">Input course description here!</textarea>
                </div>
                <div class='col text-left'>
                    <button class='btn btn-lg btn-primary' type="submit" value="Add Course">Add</button>
                </div>
            </form>
            <br>
            <div class='container-md'>
                <h1>Courses</h1>
                <table class='table table-md table-bordered table-striped table-hover'>
                    <thead>
                        <tr class='table-primary'>
                            <th>Course Name</th>
                            <th>Description</th>
                            <th>Date Added</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                        <tr>
                            <td>{{course.name}}</td>
                            <td>{{course.description}}</td>
                            <td>{{course.creation_date}}</td>
                            <td><a href="/course/{{course.id}}/get">Remove</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </body>
</html>