* {
    margin: 0px auto;
    padding: 0px;
}

body {
    font-size: 15pt;
}

#container {
    margin: 0px auto;
    padding: 0px;
    width: 1000px;
    height: 1000px;
    display: inline-block;
}

#header {
    text-decoration: underline;
}

#info {
    margin: 0px auto;
    padding: 2px;
    border: 1px solid black;
}