<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Survey</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/survey.css' %}">
        <script src="{% static 'js/survey.js' %}"></script>
    </head>

    <body>
        <div id="container">

            <h1 id="header">(Revisited)Please fill out survey:</h1>

            <div id="form">
                <form action="/form" method="post">
                    <!-- anti-bad person token -->
                    {% csrf_token %}
                    <!-- insert name -->
                    <div class="box">
                        Name: <input type="text" name='name'>
                    </div>
                    <!-- select dojo location -->
                    <div class="box">
                        Dojo Location: <select name='location'>
                            <option value="Burbank">Burbank</option>
                            <option value="Chicago">Chicago</option>
                            <option value="Dallas">Dallas</option>
                            <option value="Seattle">Seattle</option>
                            <option value="DC">DC</option>
                        </select>
                    </div>
                    <!-- select favorite language -->
                    <div class="box">
                        Favorite Language: <select name='language'>
                            <option value="Python">Python</option>
                            <option value="C#">C#</option>
                            <option value="Java">Java</option>
                            <option value="Javascript">JavaScript</option>
                        </select>
                    </div>
                    <!-- insert comments -->
                    <div class="box">
                        Comments(optional):
                        <br>
                        <input class="size" type="textarea" name='comment'>
                    </div>
                    <!-- submit button -->
                    <div class="box">
                        <input type="submit" value='Submit & Review'>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>