/* css reset */
* {
    margin: 0px auto;
    padding: 0px;
    outline: 1px solid red;
}

/* wrapper */
#container {
    margin: 0px auto;
    padding: 0px;
    height:

}

/* contains title, pop-up tutorial, overlay */
#header {
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

h1 {
    border-bottom: 1px solid black;
}

/* button block design */
.info {
    margin: 0px auto;
    padding: 5px;
    font-weight: bold;
    height: 50px;
    width: 100px;
    max-width: 20%;
    cursor: pointer;
}

/* pop-up container */
.tutorial {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 150ms ease-in-out; 
    border: 2px solid black;
    background-color: white;
    z-index: 10; /* Prevents .tutorial from becoming shaded */
    max-width: 80%;
}

/* for javascript to add .active to show how to play text */
#tutorial.active {
    transform: translate(-50%, -50%) scale(1);
}

/* contains how to play title & close button */
#pop_header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

/* close button */
.close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
}

/* contains goal, options guide text */
#pop_body {
    padding: 10px;
}

/* removes bullet points */
ul li {
    margin: 5px;
    list-style: none;
    font-size: 16px;
}

/* creates shaded page around pop-up */
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    /* Allow button clicks when not active */
    pointer-events: none;
}

/* for javascript to add .active to show shaded area */
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* resources container */
#resources {
    margin: 0px auto;
    padding: 10px;
    height: 100px;
    width: 300px;
    max-width: 35%;
    display: inline-block;
}

/* contains path options */
#path_wrap {
    margin: 0px auto;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
}

.option {
    margin: 0px auto;
    padding: 10px;
    border: 3px solid black;
    height: 200px;
    max-width: 22%;
    min-height: 40%;
}

.option_info {
    margin: 0px auto;
    padding: 0px;
    min-height: 20%;
    min-width: 80%;
}

h2 {
    font-weight: bold;
    border-bottom: 2px solid black;
}

/* bet design button */
.option_click {
    margin: 0px auto;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 80px;
    min-width: 30%;
    min-height: 25%;
    font-size: 12px;
}

/* contains all bet click buttons */
#bet {
    margin: 0px auto;
    padding: 4px;
    display: flex;
    align-items: center;
    min-width: 25%;
    min-height: 30%;
}

/* contains outcome/history */
#outcome {
    margin: 5px;
    padding: 10px;
    display: inline-block;
}

/* history box */
.update {
    margin: 0px auto;
    padding: 10px;
    border: 2px solid black;
    height: 300px;
    width: 600px;
    min-width: 25%;
    min-height: 30%;
}