<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css'
        integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We'
        crossorigin='anonymous'>
        <link rel="stylesheet" href="{% static 'quote.css' %}">
    </head>
    <body>
        <div class='container'>
            <div class='col'>
                <a class ='btn btn-info' style="width: 6rem;" href="/dashboard">Dashboard</a>
                <a class ='btn btn-warning' style="width: 5rem;" href="/logout">Logout</a>
            </div>
            <div class="row">
                <!-- Poster's Name & total posted -->
                <div class='col' id='background'>
                    <h3>Posts by: {{poster.posted_by.first_name}} {{poster.posted_by.last_name}}</h3>
                    <p>Quotes posted: {{quote_count}}</p>
                </div>
                <!-- Quotes by this User -->
                <div class="col" id='quote_block'>
                    {% for quote in all_quotes %}
                    {% if quote.posted_by.id == poster.posted_by.id %}
                    <div>
                        <p class='size'>{{quote.quoter}}<p>
                        <p>{{quote.quote}}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>