* {
    margin: 0px;
    padding: 0px;
}

#container {
    margin: 0px auto;
    padding: 0px;
    height: 1000px;
    width: 1000px;
}

.clock_border {
    margin: 0px auto;
    padding: 0px;
    display: wrap;
    align-items: center;
    text-align: center;
}

h1 {
    margin: 0px auto;
    padding: 10px 0px;
    width: 250px;
    height: 10px;
    font-size: 20px;
    border: 1px solid black;
}

h2 {
    margin: 0px auto;
    padding: 10px 0px;
    width: 400px;
    height: 20px;
    border: 1px solid black;
}